@import '_styleassets.scss';

html, body {
  min-height: 100vh;
  min-height: 100%;

  background-color: #222222;
}

.container {
  // box-shadow: 0 0 1000px rgba(251, 176, 59, .2);

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.bulb {
  margin: 0 auto;
  margin-bottom: 2em;
  width: 180px;

  // @media screen and (max-width: )
}

.brand {

  img {
    width: 100%;
  }
}

.contact {
  text-align: center;
  
  bottom: 2em;
  
  a {
    color: $primary;
  }
}