@import '_styleassets.scss';

html, body {
  min-height: 100vh;
  min-height: 100%;

  background-color: #222222;
}

.container {
  // box-shadow: 0 0 1000px rgba(251, 176, 59, .2);
  min-height: 100vh;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.column {
  flex-direction: column;
}

.brand {

  img {
    width: 100%;
  }
}

.contact {
  text-align: center;
  
  bottom: 2em;
  
  a {
    color: $primary;
  }
}